@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #e7e7e2; /* Set background color for body */
  height: 100vh; /* Ensure the body takes full height */
  font-family: "Rubik", sans-serif;
}

#root {
  height: 100%; /* Ensure the root div takes full height */
}
